+++
title = "HttpRunner"
linkTitle = "HttpRunner"
+++

{{< blocks/cover title="新一代开源 API 测试解决方案" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/" >}}">
		开始使用 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/httprunner/httprunner/releases">
		下载 <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">接口测试 / 压力测试 / DevOps / 数字体验监测</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
核心特性
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-network-wired" title="网络协议" %}}
完整支持 HTTP(S)/HTTP2/WebSocket，可扩展支持 TCP/UDP/RPC 等更多协议
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-file-code" title="多格式可选" %}}
测试用例支持 YAML/JSON/go test/pytest 格式，并且支持格式互相转换
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-plane-departure" title="双执行引擎" %}}
同时支持 golang/python 两个执行引擎，兼具 go 的高性能和 pytest 的丰富生态
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-bullseye" title="录制 & 生成" %}}
可使用 HAR/Postman/Swagger/curl 等生成测试用例；基于链式调用的方法提示也可快速编写测试用例
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-compass" title="复杂场景" %}}
基于 variables/extract/validate/hooks 机制可以方便地创建任意复杂的测试场景
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-plug" title="插件化机制" %}}
内置丰富的函数库，同时可以基于主流编程语言（go/python/java）编写自定义函数轻松实现更多能力
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-tachometer-alt" title="性能测试" %}}
无需额外工作即可实现压力测试；单机可轻松支撑 1w+ VUM，结合分布式负载能力可实现海量发压
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-terminal" title="网络性能采集" %}}
在场景化接口测试的基础上，可额外采集网络链路性能指标（DNS 解析、TCP 连接、SSL 握手、网络传输等）
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-cogs" title="一键部署" %}}
采用二进制命令行工具分发，无需环境依赖，一条命令即可在 macOS/Linux/Windows 快速完成安装部署
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{% blocks/lead color="green" %}}
用户案例
{{% /blocks/lead %}}

{{< blocks/section color="white" >}}

{{% blocks/feature icon="xx" url="/docs/cases/dji-ibg/" %}}
<img src="/image/logo/dji.jpeg" title="大疆" width="100"><br/>
基于 HttpRunner 构建完整的自动化测试体系
{{% /blocks/feature %}}

{{% blocks/feature icon="xx" url="/docs/cases/bytedance-feishu/" %}}
<img src="/image/logo/feishu.jpeg" title="飞书" width="100"><br/>
使用 HttpRunner 替换已有测试平台的执行引擎
{{% /blocks/feature %}}

{{% blocks/feature icon="xx" url="/docs/cases/youmi/" %}}
<img src="/image/logo/youmi.png" title="有米" width="100"><br/>
基于 HttpRunner 建设自动化测试平台
{{% /blocks/feature %}}

{{% blocks/feature icon="xx" url="/docs/cases/umcare/" %}}
<img src="/image/logo/umcare.png" title="环球医疗" width="150"><br/>
使用 HttpRunner 实践接口自动化测试
{{% /blocks/feature %}}

{{% blocks/feature icon="xx" url="/docs/cases/mihoyo/" %}}
<img src="/image/logo/miHoYo.png" title="米哈游" width="200"><br/>
基于 HttpRunner 搭建接口自动化测试体系
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{% blocks/lead color="yellow" %}}
商业化支持
{{% /blocks/lead %}}

{{< blocks/section color="info" >}}

{{% blocks/feature icon="fas fa-globe-americas" title="全球体验监测" url="/docs/services/dem/" %}}
真实设备真实⽹络、⾃动模拟⽤⼾⾏为、采集体验数据、发现体验问题、智能归因分析
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-laptop-code" title="全球舆情监测" url="/docs/services/dem/" %}}
海量多语⾔数据挖掘、AI+地域化规则、舆情监测准确实时
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-mobile-alt" title="全球真机租⽤" url="/docs/services/dem/" %}}
开放全球 100+ ⽹络节点、超过 500 台⼿机/PC/iPad、本地 WiFi/3G/4G/5G ⽹络、远程云端直接租⽤
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-shield-alt" title="安全合规监测" url="/docs/services/dem/" %}}
海量真实设备真实⽹络节点、丰富的地域化安全规则、GDPR 等安全合规保障
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-user-tie" title="专家服务" url="/docs/services/" %}}
提供技术培训和技术支持
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-cloud-upload-alt" title="SaaS 服务" url="https://www.volcdem.com/" %}}
提供基于 HttpRunner 构建的全功能测试服务
{{% /blocks/feature %}}

{{< /blocks/section >}}
