+++
title = "HttpRunner"
linkTitle = "HttpRunner"
+++

{{< blocks/cover title="One-stop solution for HTTP(S) testing." image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Getting Started <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/httprunner/hrp/releases">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">API test / Load Test / DevOps / APM / DEM</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Key Features
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-network-wired" title="Protocols" %}}
Fully supports HTTP/1.1 and HTTP/2 requests.

TCP, RPC, WebSocket and more protocols are coming soon.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-file-code" title="Multiple Formats"%}}
Testcases can be described in YAML/JSON/Golang/Python,

and they are interchangeable.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-bullseye" title="Record & Generate"%}}
Support generating scripts with HAR, Postman and OpenAPI (Swagger).

Smart chained calls helps a lot when writing Golang/Python testcases.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-compass" title="Complex Scenarios"%}}
Supports variables/extract/validate/hooks mechanisms to create extremely complex test scenarios.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-tachometer-alt" title="Load Test"%}}
No extra work is required when you want to run load tests.

Supports 10,000+ QPS on one single machine, unlimited with distribution mode.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-terminal" title="CLI / library"%}}
Download binary file and use it as a CLI tool.

You can also import as a library in your Golang/Python projects.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Open Source"%}}
Open source under Apache-2.0 license.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-code" title="Plugins"%}}
Built-in rich functions, and you can also use go plugin to integrate custom functions
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-mixcloud" title="SaaS Service" url="https://www.volcdem.com/" %}}

{{% /blocks/feature %}}


{{< /blocks/section >}}

{{% blocks/lead color="yellow" %}}
Commercial support
{{% /blocks/lead %}}

{{< blocks/section >}}
{{% blocks/feature icon="fas fa-user-tie" title="Expert Service" url="/docs/services/" %}}
Provide technical training & support
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-lock" title="Privatization deployment" url="/docs/services/" %}}
SaaS service privatization deployment
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-laptop-code" title="Customized development"%}}
Develop customized features or plugins for your own needs
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-globe-americas" title="Global environment" url="https://www.volcdem.com/" %}}
Schedule your tasks to run on 1w+ Android/iOS/Darwin/Linux/Windows devices worldwide
{{% /blocks/feature %}}

{{< /blocks/section >}}
